.DS_Store
.cache/
.eggs/
*.pyc

TEMPORARY_DATA_FILES/
audioclipcutter/bin/

audioclipcutter.egg-info/
__pycache__/

# This might have to be remove from this ignore list more down the line
dist/
build/

AudioClipExtractor.egg-info/
